@media screen and (max-width: 1024px){
     #ban_text {
        font-size: 30px
     }
     #seeds figcaption{
        font-size: 12px;
     }
     #log{
         width: 60%;
     }
     #links a{
        font-size: 12px;
    }
    .dow{
        font-size: 15px;
       float: right;
    }
    #tom-one-img img{
        width: 400px;
    }
    .card_tom img{
        display: block;
        width: 290px;
        height: 250px;        
      }
}
@media screen and (max-width: 768px){
    #ban_text {
        font-size: 25px
     }
     #seeds figcaption{
        font-size: 10px;
     }
     #log{
         width: 60%;
     }
     #links a{
        font-size: 10px;
    }
    .dow{
        font-size: 12px;
       
    } 
    ul.navbar-nav {
        font-size: 15px;
    }
    #tom-one-img img{
        width: 300px;
    }
    .card_tom img{
        display: block;
        width: 210px;
        height: 200px;        
      }
}
@media screen and (max-width: 640px){
    #ban_text {
        font-size: 30px
     }
     #seeds figcaption{
        font-size: 12px;
     }
     #log{
         width: 60%;
     }
     #links a{
        font-size: 12px;
    }
    .dow{
        font-size: 15px;
        float: left;
    }
    #tom-one-img img{
        width: 250px;
    }
    .bg_tom_one {
        font-size: 16px;
    }
    .card_tom img{
        display: block;
        width: 240px;
        height: 200px;        
      }
}
@media screen and (max-width: 480px){
    #ban_text {
        font-size: 30px
     }
     #seeds figcaption{
        font-size: 12px;
     }
     #log{
         width: 60%;
     }
     #links a{
        font-size: 12px;
    }
    .dow{
        font-size: 15px;
        float: right;
    }
    #tom-one-img img{
        width: 300px;
        margin: 0 auto;
    }
    .bg_tom_one {
        font-size: 14px;
    }
    h1 {
        font-size: 30px;
    }
    h2{
        font-size: 27px;
    }
    h3 {
        font-size: 25px; 
    }
    h4 {
        font-size: 23px;  
    }
    h5 {
        font-size: 20px;
    }
    p{
        font-size: 14px; 
    }
    .card_tom img{
        display: block;
        width: 450px;
        height: 350px;        
      }
}
@media screen and (max-width: 414px){
    .card_tom img{
        display: block;
        width: 382px;
        height: 300px;        
      }
}
@media screen and (max-width: 400px){
    #ban_text {
        font-size: 30px
     }
     #seeds figcaption{
        font-size: 12px;
     }
     #log{
         width: 60%;
     }
     #links a{
        font-size: 12px;
    }
    .dow{
        font-size: 15px;
    }
    #tom-one-img img{
        width: 300px;
        margin: 0 auto;
    }
    .bg_tom_one {
        font-size: 14px;
    }
    h1 {
        font-size: 28px;
    }
    h1 {
        font-size: 30px;
    }
    h2{
        font-size: 27px;
    }
    h4 {
        font-size: 23px;  
    }
    h3 {
        font-size: 23px; 
    }
    h5 {
        font-size: 17px;
    }
    p{
        font-size: 14px; 
    }
    .card_tom img{
        display: block;
        width: 370px;
        height: 250px;        
      }
}
@media screen and (max-width: 375px){
    .card_tom img{
        display: block;
        width: 345px;
        height: 250px;        
      }
}
@media screen and (max-width: 320px){
    #ban_text {
        font-size: 30px
     }
     #seeds figcaption{
        font-size: 12px;
     }
     #log{
         width: 60%;
     }
     #links a{
        font-size: 12px;
    }
    .dow{
        font-size: 12px;
        width: 150px;
        height: 40px; 
        background: url("../img/ico_pdf.png") 15px no-repeat ;
        background-size: 20px;        
    }    
    #tom-one-img img{
        width: 200px;
        margin: 0 auto;
    }
    .bg_tom_one {
        font-size: 14px;
    }
    h1 {
        font-size: 25px;
    }
    h3 {
        font-size: 20px; 
    }
    h2{
        font-size: 27px;
    }
    h4 {
        font-size: 23px;  
    }
    p{
        font-size: 14px; 
    }
    h5 {
        font-size: 15px;
    }
    .card_tom img{
        display: block;
        width: 288px;
        height: 288px;        
      }
}