@font-face {
  font-family: 'RobotoSlab-Regular';
  src: url('../fonts/RobotoSlab-Regular.svg#RobotoSlab-Regular') format('svg'),
       url('../fonts/RobotoSlab-Regular.ttf') format('truetype'),
       url('../fonts/RobotoSlab-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html, body {
  font-family: 'RobotoSlab-Regular';
  height: 100%;
}
header.bg_home { 
  background: url(../img/bg.jpg) no-repeat;
  background-size: cover;
}

.navbar-brand img{
	width: 160px;
	height: 80px;  
	}

.nav-bar li {
	padding-right: 20px;   
}

.nav-link {
	font-size:1em !important;  
  color: black !important;
}
#log{
  margin: 0 auto;
}
 .header_search {
  box-sizing: border-box;
  }

 .header_search form {
  position: relative ;
  width: 250px;
  border-bottom: 1px solid black;
}

 .header_search input, button {
  border: none;
  outline: none;
  background: transparent;
}

.header_search input {
  width: 100px;
  height: 42px;
  padding-left: 15px;
}

.search {
  height: 42px;
  width: 42px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.search:before {
  content: "\f002";
  font-family: FontAwesome;
  font-size: 18px;
}
.center{
  padding: 10px;
  margin: 0 auto;
}
footer {
  background-color: #2D3F45; 
}
ul.hr{
  padding: 25px; 
  margin: 0 auto;
}

ul.hr li{
  display: inline-block; 
  margin-right: 5px;
  color: white;
}

.fa-facebook, .fa-twitter, 
.fa-instagram, .fa-youtube,
.fa-linkedin-in{
  color: #267030;
  font-size: 23px;
  margin: 25px 5px 15px 5px;
}

.fa-facebook:hover, .fa-twitter:hover,
.fa-instagram:hover, .fa-youtube:hover,
.fa-linkedin-in:hover{
	color: #ccc;
}

.seeds {
  margin:10px 5px 20px 5px;
  font-size: 12px;
  color: black;
}

.seeds img{  
  height: 35px;
  margin: 15px 5px 15px 5px;
}

.seeds figcaption{color: black;}

.bg_body{
  background: url(../img/bg_body.png) center no-repeat;
  background-color: rgb(239, 243, 243);
  background-size: cover;
  }

.bg_body2 {
  background-color: rgb(229, 236, 236);  
}

.bg_body2 img{
  height: 150px;
}

.bg_body2 h3{color: #1fa030;}

.bg_body2 hr{
  background: #238b31;
  width: 150px;
}

.bg_body2 p{font-size: 18px}

.line { 
  border-left: 2px solid rgb(255, 102, 0);
  padding-left: 10px; 
 }

 .card_tom a {
   color: rgb(110, 158, 19);  
 }
 
 .card_tom figure{
   text-align: center;
    background-color: white;
  }

  .card_tom img{
    display: block;
    width: 350px;
    height: 270px;
    
  }

.dow {
  width: 200px;
  height: 50px;  
  border: 2px solid #105319; 
  border-radius: 50px;
  background: url("../img/ico_pdf.png") 15px no-repeat  ;
  display: inline-block;  
  padding: 10px;
  color: #105319;
  text-align: center; 
  padding-left: 30px; 
}

.bg_tom_one{ 
  background: url(../img/tom_one_bg.png) center no-repeat;
  background-color: rgb(240, 240, 240);   
  background-size: cover;
}

hr{ 
    background-color: olivedrab;
    width: 200px;  
    display: inline-block;
  }

  .tom_one img{
    display: block;
    height: auto;
  }

  .bg_tom_one h5{
    color: olivedrab;
  }

  .bg_tom_one li{
    color: olivedrab;
    padding: 5px;
  }

  .bg_tom_one li span{
    color: black;
  }
  .header_topline {
    background: #fefefe;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0px 7px 12px 0px #868686;
}
.btn_form {
  border-radius: 50px;
  font-size: 14px;
}

.navbar-toggler {
  position: absolute;
  right: 0;
}
.cart{
  display: flex;
}

.cart-list{
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.cart-item{
  display: flex;
  flex-direction: row;
  width: 300px;
  height: 150px;

}

.cart_text{
  display: flex;
  flex-direction: row;
  align-self: center;
  margin: 0 auto;
}

.cart_subtitle h4{
  color: #be870e;
  font-size: 14px;
}
.cart_subtitle p{
  font-size: 12px;
}


.cart-item a:hover{
  cursor: pointer;
}

.cart_img{
  width: 233px;
  height: 200px;
  overflow: hidden;
}

.cart_img img{
  width: 100%;
  height: 100%;
}

.cart_img{
  width: 65px;
  height: 65px;
  align-self: center;
}

.cross img{
  width: 10px;
  height: 10px;
}
.result {
  column-count: 2;

}
  