<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=320, initial-scale=1.0"/>
	<title>Contact us</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/responsive.css">
</head>
    <!-- Шапка сайта -->
<header style="background-color: white;">
	<div class="container ">
		<nav class="navbar navbar-expand-md navbar-light">
			<div class="center">					
				<div class="navbar-brand " id="log"><img src="img/logo.png"></div>				
				<button class="navbar-toggler mt-2" type="button" data-target="#my-nav" data-toggle="collapse">
					<span class="navbar-toggler-icon"></span>
				</button>				
			</div>		
			<div class="center">
			<div class="header_search " >			
				<form class="form-inline ">
					<input type="text" placeholder="Search">
					<button class="search" type="submit"></button>
				</form>							
				
				</div>
				<div id="my-nav" class="collapse navbar-collapse">
					<ul class="navbar-nav">
						<li class="nav-item active">
						<a href="index.html" class="nav-link">Home</a>
					</li>
					<li class="nav-item">
						<a href="#" class="nav-link">Company Profile</a>
					</li>
					<li class="nav-item">
						<a href="Pineapples.html" class="nav-link">Products</a>
					</li>
					<li class="nav-item">
						<a href="#" class="nav-link">Serviced</a>
					</li>
					<li class="nav-item">
						<a href="#" class="nav-link">R & D</a>
					</li>
					<li class="nav-item">
						<a href="contact us.html" class="nav-link">Contact</a>
					</li>
					</ul>
				</div>
			</div>			
		</nav>
	</div>
    <div>
        <img src="img/bd_cont.jpg" class="img-fluid">
    </div>
</header>	

<body style="background-color: rgb(241, 241, 241);">
   <div class="container center padding justify-content-center mb-4 mt-4" id="app">
	   <h3 class="font-weight-bold">Contact us</h3>
        	<figure style="color: olivedrab;">*****</figure>
			<table class="cart">
                <tr class="cart-list">
                    <td class="cart-item" v-for="item in cart">
                        <div class="cart_img ">
                            <img :src="'img/'+item.image" alt="">
                        </div>
                        <div class="cart_text">
                            <div class="cart_subtitle">
                                <h4>{{item.title}}</h4>
                                <p>{{item.short_text}}</p>
                            </div>
                            <a class="cross" href="#" @click.prevent="removeFromCart(item.id)">
                                <img src="img/cross.png" alt="">
                            </a>
                        </div>
                    </td>
                </tr>
            </table>
 			<form action="" @submit.prevent = "makeOrder()" action="" v-if="formVisible">         
           		 <div class="form-row ">     
               		 <div class="col-lg-4 col-md-4 col-sm-4">                                    
                    <p>Name * </p><input v-model="contactFields[0].text" name="name" type="text" class="form-control" required>
                    <p>Compay name </p> <input v-model="contactFields[1].text" name="name_com" class="form-control" size="30" required>
                    <p>Position</p> <input v-model="contactFields[2].text" name="pos" class="form-control" size="30" required>
                    <p>City</p> <input v-model="contactFields[3].text" name="city" class="form-control" size="30" required>
                    <p>Country</p> <input v-model="contactFields[4].text" name="cout" class="form-control" size="30" required>
                    <p>Telephone</p> <input v-model="contactFields[5].text" name="phone" maxlength="10" class="form-control" size="10" required>
                    <p>Email *</p> <input v-model="contactFields[6].text" name="mail" class="form-control" type="mail" required>
                </div>
				<div class="col-lg-2 col-md-2 col-sm-2"></div>
                <div class="col-lg-6 col-md-6 col-sm-6">                    
                    <label for="input">You are a</label>
                        <select id="input" v-model="contactFields[7].text" class="form-control" >
                        <option selected>seed producer</option>
                        <option>...</option>
                    </select>
                    <p>If other, please specify</p><input v-model="contactFields[8].text" name="other" class="form-control" required>
                    <p>You are intrested in </p> <textarea  v-model="contactFields[9].text"name="intrested" id="" class="form-control" cols="30" rows="10" required></textarea>
                   	<p>Please, type this code</p>
					<div class="container-fluid ">
					   <div class="row padding">
					   		<div class="col-lg-2 col-md-2 col-sm m-2">						
                    			<img src="img/image 12.png" width="60px" height="30px" > 
							</div>
							<div class="col-lg-6 col-md-6 col-sm m-0">	
								<input type="text" class="form-control" required>
							</div>
							<div class="col-lg-2 col-md-2 col-sm mt-1">	
								<button type="submit" class="btn btn-success btn_form">Send message</button>
              				</div>
						</div>
					</div>
				</div>                       
            </div>
		 </form> 
		 <ul  v-if="!formVisible">
			<li v-for="field in contactFields">
				<div class="field-text" v-if="field.text">
					<h4>{{field.caption}}</h4>
					<p>{{field.text}}</p>
				</div>
			</li>
		</ul>
    </div>   
	<div class="container-fluid text-center pt-3" style="background-color: white;">
		<h5 style="color: forestgreen;">Our Address</h5>
		<hr>
		<p>AGRIDERA Seeds & Agriculture Ltd.</p> 
		<p>P.O Box 103,</p> 
		<p>Gedera 70750, Israel.</p> 
		<p>Telephone: +972 8 944 9222</p> 
	</div>    
	<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
	<script src="js/main.js"></script> 
</body>
<!--Футер сайта-->
<footer >
	<div class="container-fluid text-center ">
		<div class="row padding justify-content-center ">
			<div class="col-lg-8 col-md-8 col-sm-6 ">
				<ul class="hr">
					<a href=""><li>PROFILE</li></a>
					<a href=""><li>MANAGEMENT</li></a>
					<a href="tomato_all.html"><li>PRODUCTS</li></a>
					<a href=""><li>R&D</li></a>
					<a href=""><li>LINKS</li></a>
					<a href=""><li>SITEMAP</li></a>
					<a href=""><li>CONTACTS</li></a>
				</ul>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-6 ">
				<a href="#"><i class="fab fa-twitter"></i></a>
				<a href="#"><i class="fab fa-instagram"></i></a>
				<a href="#"><i class="fab fa-facebook"></i></a>
				<a href="#"><i class="fab fa-youtube"></i></a>
				<a href="#"><i class="fab fa-linkedin-in"></i></a>
			</div>
		</div>	
			
	</div>
    <div class="container-fluid text-center" style="background-color:#324950; color:white"> 
		<p> Agridera Seeds and Agriculture Ltd.©2020</p>		
    </div>	
</footer>
</html>