<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=320, initial-scale=1.0"/>
	<title>Tomato one</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/responsive.css">    
</head>

<!-- Шапка сайта -->
<header style="background-color: white;" class="header_topline">
    <div class="container ">
        <nav class="navbar navbar-expand-md navbar-light">
			<div class="center">					
				<div class="navbar-brand " id="log"><img src="img/logo.png"></div>				
				<button class="navbar-toggler mt-2" type="button" data-target="#my-nav" data-toggle="collapse">
					<span class="navbar-toggler-icon"></span>
				</button>				
			</div>		
			<div class="center">
			<div class="header_search " >			
				<form class="form-inline ">
					<input type="text" placeholder="Search">
					<button class="search" type="submit"></button>
				</form>							
				
				</div>
				<div id="my-nav" class="collapse navbar-collapse">
					<ul class="navbar-nav">
						<li class="nav-item active">
						<a href="index.html" class="nav-link">Home</a>
					</li>
					<li class="nav-item">
						<a href="#" class="nav-link">Company Profile</a>
					</li>
					<li class="nav-item">
						<a href="Pineapples.html" class="nav-link">Products</a>
					</li>
					<li class="nav-item">
						<a href="#" class="nav-link">Serviced</a>
					</li>
					<li class="nav-item">
						<a href="#" class="nav-link">R & D</a>
					</li>
					<li class="nav-item">
						<a href="contact us.html" class="nav-link">Contact</a>
					</li>
					</ul>
				</div>
			</div>			
		</nav>
	</div>
</header>

<!-- Тело сайта -->
<body class="bg_tom_one">
    <div class="container padding tom_one center" id="app">
        <div class="row padding justify-content-center">
            <div class="col-lg-6 col-md-6 col-sm-12 mt-4" >               
                <a href="Pineapples.html">
                    <div class="row padding justify-content-start ">
                        <div class="col-1 p-2">
                            <img src="img/Arrow 1.png" >                        
                        </div>                       
                        <div class="col-11 " style="color: olivedrab;  ">
                            <p>Return to all pineapples</p>
                        </div>                        
                    </div>
                </a>
                <h1>{{product.title}}</h1>
                    <h1 style="color: olivedrab;"><b>{{product.short_text}}</b></h1>
                     <figcaption class="mt-3" style="color: olivedrab;">*****</figcaption>                
                <div  class="row padding justify-content-center mt-3">
                    <div class="col-lg-2 col-md-4 col-sm-2"> 
                         <img src="img/tom_one.png" width="80px" height="80px">
                    </div>
                    <div class="col-lg-10 col-md-8 col-sm-10">
                        <h3 class="font-weight-bold" style="float: right; color: red;">Very high yield and 
                           excellent fruits quality!</h3>
                    </div>                                            
                </div> 
                    <h3 style="color: olivedrab;" class="mt-5">CHARACTERISTICS</h3>
                    <hr>
                    <p><b>Resistance</b></p>
                    <p>HR: ToMV:0-2; Fol: 1,2; Ve/Vd;</p>
                    <p>IR: TYLCV</p>   
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 mt-4" id="tom-one-img">
                <img :src="'img/'+product.image" >
                <div class="p-2" >
                <a class="dow"  @click.prevent="addToCart(product.id)" href="#" v-if="!btnVisible" > Add to cart</a>
                <a class="dow" href="contact us.html" v-if="btnVisible">Go to cart</a>
                </div>
            </div>
        </div>
    </div>      
    <div class="container padding mt-2">
        <div class="row padding justify-content-start">
            <div class="col-lg-6 col-md-6 col-sm-12">
               <h5>Plants</h5> 
                <hr>
               <ul>
                    <li><span>Strong vigor that provides good leaf coverage.</span></li>
                    <li><span>Very high productivity with good fruit setting.</span></li>
                    <li><span> Early matured variety.</span></li>
                </ul>                                    
            </div> 
            
             <div class="col-lg-6 col-md-6 col-sm-12">
                <h5>Cycle</h5> 
                 <hr>
                <ul>
                     <li><span>Spring</span></li>
                     <li><span>Fall</span></li>
                     <li><span>Winter</span></li>
                 </ul>
             </div>
             <div class="col-lg-6 col-md-6 col-sm-12">
                <h5>Fruit</h5> 
                 <hr>
                <ul>
                    <li><span>Long shelf life on plant and post harvest.</span></li>
                    <li><span>Nice shiny attractive deep red color.</span></li>
                    <li><span>Average fruit size: 140 – 160 grams.</span></li>
                </ul>
             </div>
            
             <div class="col-lg-6 col-md-6 col-sm-12">
                <h5>Color</h5> 
                 <hr>
                <ul>
                    <li><span>Red</span></li>
                 </ul>
             </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
	<script src="js/main.js"></script>
</body>

<!--Футер сайта-->
<footer >
	<div class="container-fluid text-center ">
		<div class="row padding justify-content-center ">
			<div class="col-lg-8 col-md-8 col-sm-6 ">
				<ul class="hr">
					<a href=""><li>PROFILE</li></a>
					<a href=""><li>MANAGEMENT</li></a>
					<a href="tomato_all.html"><li>PRODUCTS</li></a>
					<a href=""><li>R&D</li></a>
					<a href=""><li>LINKS</li></a>
					<a href=""><li>SITEMAP</li></a>
					<a href=""><li>CONTACTS</li></a>
				</ul>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-6 ">
				<a href="#"><i class="fab fa-twitter"></i></a>
				<a href="#"><i class="fab fa-instagram"></i></a>
				<a href="#"><i class="fab fa-facebook"></i></a>
				<a href="#"><i class="fab fa-youtube"></i></a>
				<a href="#"><i class="fab fa-linkedin-in"></i></a>
			</div>
		</div>	
			
	</div>
    <div class="container-fluid text-center" style="background-color:#324950; color:white"> 
		<p> Agridera Seeds and Agriculture Ltd.©2020</p>		
    </div>	
</footer>
</html>