@font-face {
  font-family: 'RobotoSlab-Regular';
  src: url('RobotoSlab-Regular.svg#RobotoSlab-Regular') format('svg'),
       url('RobotoSlab-Regular.ttf') format('truetype'),
       url('RobotoSlab-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

